<div class="container">
  <div class="card mt-3 mb-3">
    <img
      src="./assets/img/venta-de-partes-de-computadoras.jpg"
      class="card-img-top"
      alt="bg-soporteit"
    />
    <div class="card-body">
      <h5 class="card-title">Venta de Partes de Computadoras</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
        exercitationem voluptatibus cumque numquam eaque velit repellendus
        laudantium odio nostrum quod, maiores fugiat est cupiditate eos laborum
        unde ut eveniet excepturi.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque
        laborum a esse consequatur eos beatae dicta ipsum fugiat tempora
        consectetur assumenda reprehenderit quam quae, asperiores
        necessitatibus! Iure, ab quae. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Earum quasi veritatis veniam sint quibusdam atque,
        labore dolores magnam nostrum nihil dolorem unde, culpa temporibus
        voluptate, nemo reprehenderit placeat amet saepe.
      </p>
    </div>
  </div>

  <div class="card mb-3">
    <img
      src="./assets/img/laptops.jpg"
      class="card-img-top"
      alt="bg-soporteit"
    />
    <div class="card-body">
      <h5 class="card-title">Venta de Laptops</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
        exercitationem voluptatibus cumque numquam eaque velit repellendus
        laudantium odio nostrum quod, maiores fugiat est cupiditate eos laborum
        unde ut eveniet excepturi.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque
        laborum a esse consequatur eos beatae dicta ipsum fugiat tempora
        consectetur assumenda reprehenderit quam quae, asperiores
        necessitatibus! Iure, ab quae. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Earum quasi veritatis veniam sint quibusdam atque,
        labore dolores magnam nostrum nihil dolorem unde, culpa temporibus
        voluptate, nemo reprehenderit placeat amet saepe.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <img
      src="./assets/img/monitores.jpg"
      class="card-img-top"
      alt="bg-soporteit"
    />
    <div class="card-body">
      <h5 class="card-title">Venta de Monitores</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
        exercitationem voluptatibus cumque numquam eaque velit repellendus
        laudantium odio nostrum quod, maiores fugiat est cupiditate eos laborum
        unde ut eveniet excepturi.
      </p>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque
        laborum a esse consequatur eos beatae dicta ipsum fugiat tempora
        consectetur assumenda reprehenderit quam quae, asperiores
        necessitatibus! Iure, ab quae. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Earum quasi veritatis veniam sint quibusdam atque,
        labore dolores magnam nostrum nihil dolorem unde, culpa temporibus
        voluptate, nemo reprehenderit placeat amet saepe.
      </p>
    </div>
  </div>
</div>
