<!-- Jumbotron -->
<div class="jumbotron p-0">
  <!-- Card image -->
  <div class="container pt-4">
    <div class="view overlay rounded-top text-center">
      <img
        src="./assets/img/team-job2.jpeg"
        class="img-fluid"
        alt="Sample image"
      />
    </div>

    <!-- Card content -->
    <div class="card-body text-center mb-3">
      <!-- Title -->
      <h3 class="card-title h3 my-4">
        <strong>Dedicados!</strong>
      </h3>
      <!-- Text -->
      <p class="card-text py-2">
        En zortechnologies nos dedicamos a brindar servicios de soporte
        informático. Teniendo como principal objetivo convertirnos en su aliado
        de negocio, brindándole soluciones especializadas.
      </p>
      <p class="card-text py-2">
        Podemos tambien desarrollar aplicaciones web de cualquier tipo, siempre
        a medida de las especificaciones solicitadas por el cliente y utilizando
        las APIs, WebServices, etc, necesarias para el proyectos adaptables a
        cualquier dispositivo.
      </p>
      <h3 class="card-title h3 my-4">
        <strong>Imagina... y déjate sorprender</strong>
      </h3>
      <!-- Text -->
      <p class="card-text py-2">
        Podemos construir desde cero el proyecto web que se te ocurra,
        trabajando contigo en equipo… o te podemos proponer nosotros algo que se
        ajustará a tus necesidades y que, seguro, te sorprenderá.
      </p>
      <h3 class="card-title h3 my-4">
        <strong>¿Estás interesado en hablar con nosotros?</strong>
      </h3>
      <!-- Text -->
      <p class="card-text py-2">
        Contáctanos. Puede ser el inicio de una bonita relación. Escucharemos
        tus necesidades y te propondremos un proyecto web totalmente a medida
        que, seguro, te sorprenderá. La confianza y el expertise son nuestros
        puntos fuertes. ¡Lo dicen nuestros clientes!
      </p>
      <!-- Button -->
      <button type="button" class="btn btn-dark">Contact</button>
    </div>
  </div>
</div>
<!-- Jumbotron -->
