<!-- Jumbotron -->
<div
  class="card card-image container mt-4 mb-4"
  style="
    background-image: url(./assets/img/bg-home.jpg);
    background-size: cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-5">
            <!-- Content -->
            <h2 class="h5 orange-text">
              Bienvenido!!
            </h2>
            <h5>Eche un vistazo a nuestros productos y servicios.</h5>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</div>

<!-- Jumbotron -->

<div class="card-columns container">
  <div class="card">
    <img src="./assets/img/portatiles.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Portatiles</h5>
      <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="./assets/img/perifericos razer.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Perifericos y Accesorios</h5>
      <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Procesadores</h5>
      <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <section class="mt-5 wow fadeIn">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img
          src="./assets/img/dev-web3.jpg"
          class="img-fluid z-depth-1-half"
          style="height: 305px;"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!-- Main heading -->
        <h3 class="h3 mb-3">Aplicaciones web / Webapps</h3>
        <p>
          Diseñamos y desarrollamos aplicaciones web que priorizan la
          experiencia de usuario.
        </p>

        <!-- Main heading -->

        <hr />

        <p>
          Las aplicaciones web han ganado popularidad en los últimos años. Su
          compatibilidad con cualquier sistema operativo y su bajo o nulo
          mantenimiento las convierten en una muy buena opción para los usuarios
          finales. Por si estás pensando en desarrollar una pequeña aplicación
          de gestión interna o algo mas complejo, nuestro equipo puede trabajar
          con ustedes en la estrategia, el diseño, el desarrollo, la
          distribución y el mantenimiento de la misma.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Main info-->
  <!--Section: More-->
  <section>
    <h2 class="my-5 h3 text-center">...y aún más</h2>

    <!--First row-->
    <div class="row features-small mt-5 wow fadeIn">
      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-laptop fa-2x mb-1 indigo-text"></i>
          </div>
          <div class="col-10 mb-2 pl-3">
            <h5 class="feature-title font-bold mb-1">
              Soporte Técnico Onsite y Remoto
            </h5>
            <p class="grey-text mt-2">
              z0rTech brinda soporte especializado después de la implementación
              de sus soluciones de TI. Usted puede confiar en nuestro equipo las
              24 horas del día, los 7 días de la semana, para cubrir todas sus
              necesidades de soporte de infraestructura de Hardware y Software.
              Manejo de SLA (Acuerdo de Servicio).
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i
              class="fas fa-level-up-alt fa-2x mb-1 indigo-text"
              aria-hidden="true"
            ></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">
              Comercialización Informática
            </h5>
            <p class="grey-text mt-2">
              Promueve la comercialización especializada de equipos en
              tecnología como: Computadoras de escritorio, Laptops de la línea
              Profesional, equipos de impresión láser, servidores Storage,
              Switches, Routers, UPS, etc.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-video fa-2x mb-1 indigo-text"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">
              Instalacion de Cámaras de Seguridad
            </h5>
            <p class="grey-text mt-2">
              Contamos con personal altamente capacitado en la instalación de
              cámaras de CCTV para hogares, oficina o industria. Si desea
              realizar una instalación en su casa o comercio, lo invitamos a
              comunicarse con nosotros para que podamos asesorarlo. Puede
              comunicarse con nuestro personal por teléfono, email, formulario
              de contacto, o visitando nuestras oficinas de atención.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-lg-6">
        <!--Grid row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-sitemap fa-2x mb-1 indigo-text"></i>
          </div>
          <div class="col-10 mb-2">
            <h5 class="feature-title font-bold mb-1">
              Redes de Datos e Informática
            </h5>
            <p class="grey-text mt-2">
              Técnicas Profesionales le asesora y ofrece soluciones de red
              ajustadas a sus necesidades. Diseñamos, instalamos y mantenemos
              redes profesionales, redes orientadas siempre para ofrecer alto
              rendimiento y máxima fiabilidad.
            </p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->
    </div>
    <!--/First row-->
  </section>
  <!--Section: More-->
</div>
