<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img
    src="./assets/img/logoz0rtech.png"
    alt="logo"
    class="mx-auto"
    style="max-height: 200px;"
  />
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler mx-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse fontnav align-items-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mx-auto">
      <li class="nav-item pr-3 pl-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Inicio</a>
      </li>
      <li class="nav-item pr-3 pl-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['products']">Productos</a>
      </li>
      <li class="nav-item pr-3 pl-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
      </li>
      <li class="nav-item pr-3 pl-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">Nosotros</a>
      </li>
    </ul>
  </div>
</nav>
