<div class="container">
  <div class="card-columns my-3">
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Procesadores</h5>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tarjetas Madre</h5>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Memorias RAM</h5>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Discos Duro</h5>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Tarjetas de Video</h5>
      </div>
    </div>
    <div class="card">
      <img src="./assets/img/cpu-roundup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Fuentes de Poder</h5>
      </div>
    </div>
  </div>
</div>
